<div id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <h2><%= t(:create_milestone, :scope => [:milestones]) %></h2>
        <br />
        <%= form_for(@milestone, :url => project_milestones_path(@project), :html => { :method => :post, :class => "form-horizontal"}) do |f| %>
          <fieldset>
            <%= render "shared/validation_error", :resource => @milestone %>
            <hr />
            <%= render "form", :f => f %>
            <br/>
            <div class="form-actions col-md-12">
              <button type="submit" class="btn btn-primary btn-large"><%= t(:create, :scope => [:common]) %></button>
              <button type="button" class="btn btn-large btn-default" onclick="window.location.href='<%= project_milestones_path(@project) %>'"><%= t(:cancel, :scope => [:common]) %></button>
            </div> <%#= form-actions %>
          </fieldset>
        <% end %>

      </div> <%#= .span12 %>
    </div> <%#= .row %>
  </div> <%#= .container %>
</div> <%#= content %>
