<div id="content">

  <div class="container">


    <div class="row">

      <div class="span12">

        <div id="page-header">
          <span style="font-size: 20px;"><%= t(:issues_header, :scope => [:issues], :project => @project.title) %></span>

          <ul class="nav nav-pills pull-right">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= text_with_icon(t(:views, :scope => [:issues]), "icon-eye-open") %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=""><%= text_with_icon(t(:thumbnail, :scope => [:issues]), "icon-th") %></a></li>
                <li><a href=""><%= text_with_icon(t(:list, :scope => [:issues]), "icon-list") %></a></li>
              </ul>
            </li>
            <li class="active"><%= link_to text_with_icon(t(:create_issue, :scope => [:issues]), "icon-plus"), new_project_issue_path(@project) %></li>

          </ul>

        </div> <!-- /#issue-header -->
        <br />
        <hr />

        <div class="issue-column-4">
          <% unless @issues.blank? %>
            <% @issues.each do |issue| %>
              <div class="issue-container">
                <div class="issue">
                  <div class="issue-header">
                    <div class="issue-title"><%= link_to issue.code, issue_path(issue.code) %></div> <!-- /issue-title -->
                  </div> <!-- /issue-header -->

                  <div class="issue-features">
                    <ul>
                      <li class="issue-summary"><%= truncate(issue.title, :length => 130) %></li>
                      <li><div class="pull-left issue-label">Assignee</div><%= link_to text_with_icon(current_user.name, "icon-user"), user_path(issue.assigned_to) %></li>
                      <li><div class="pull-left issue-label">Status</div><%= text_with_icon("In Progress", "icon-tick") %></li>
                    </ul>
                  </div> <!-- /issue-features -->

                  <div class="issue-actions">
                  </div> <!-- /issue-actions -->

                </div> <!-- /issue -->
              </div> <!-- /issue-container -->
            <% end %>
          <% else %>
            <%= t(:empty_issues, :scope => [:issues]) %>
          <% end %>

        </div><!-- /issue-column-4 -->

      </div> <!-- /.span12 -->



    </div> <!-- /.row -->


  </div> <!-- /.container -->

</div> <!-- /#content -->