<div id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="page-header">
          <span style="font-size: 20px;"><%= t(:issues_header, :scope => [:issues], :project => @project.title) %></span>
          <ul class="nav nav-pills pull-right">
            <li><button type="button" class="btn <%= params[:list].blank? ? 'btn-primary' : 'btn-default' %>" onclick="window.location.href='<%= project_issues_path(@project) %>'"><%= show_icon(ICON_TH) %></button></li>
            <li><button type="button" class="btn <%= !params[:list].blank? ? 'btn-primary' : 'btn-default' %>" onclick="window.location.href='<%= project_issues_path(@project, :list => "true") %>'"><%= show_icon(ICON_LIST) %></button></li>
            <li><button type="button" class="btn btn-primary" onclick="window.location.href='<%= new_project_issue_path(@project) %>'"><%= text_with_icon(t(:create_issue, :scope => [:issues]), ICON_PLUS) %></button></li>
          </ul>
        </div> <!-- /#issue-header -->
        <br />
        <hr />
        <div class="col-md-9 issue-column-4 sortable">
          <% unless @issues.blank? %>
            <% @issues.each do |issue| %>
              <% if params[:list] %>
                <%= render "/issues/list", :issue => issue %>
              <% else %>
                <%= render "/issues/thumbnails", :issue => issue  %>
              <% end %>
            <% end %>
          <% else %>
            <%= t(:empty_issues, :scope => [:issues]) %>
          <% end %>
        </div><!-- /issue-column-4 -->

        <%= render "/issues/summary" %>

      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /#content -->