
<div class="account-container register stacked">

  <div class="content clearfix">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <h1><%= t(:change_password, :scope => [:authentication, :login]) %></h1>

      <div class="login-fields">
        <div class="field">
          <%= f.label :password, , t(:new_password, :scope => [:account]) %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "login", :placeholder => , t(:new_password, :scope => [:account])%>
        </div> <%#= /field %>

        <div class="field">
          <%= f.label :password_confirmation, , t(:confirm_password, :scope => [:account])%>
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "login", :placeholder => , t(:confirm_password, :scope => [:account]) %>
        </div> <%#= /field %>

      </div> <%#= /login-fields %>

      <div class="login-actions">

        <button class="button btn btn-primary btn-large"><%= t(:update_password, :scope => [:authentication, :login]) %></button>

      </div> <%#= .actions %>

    <% end %>

  </div> <%#= /content %>

</div> <%#= /account-container %>


<%#= Text Under Box %>
<div class="login-extra">
  <%= t(:account_exists, :scope => [:authentication, :login]) %> <%= link_to t(:sign_in, :scope => [:authentication, :login]), new_user_session_path %>
</div> <%#= /login-extra %>


