<div id="content">
  <div class="container">
    <div class="row">
      <div class="span7">

        <table class="table profile_info">
          <tbody>
            <tr>
              <td colspan="2"><h2><%= @project.title %></h2></td>
            </tr>
            <tr>
              <td><strong><%= t(:code, :scope => [:projects]) %></strong></td>
              <td><%= @project.code %></td>
            </tr>
            <tr>
              <td><strong><%= t(:status, :scope => [:projects]) %></strong></td>
              <td><%= get_status(@project) || "N/A" %></td>
            </tr>
            <tr>
              <td><strong><%= t(:created_by, :scope => [:projects]) %></strong></td>
              <td><%= show_user(@project.user) || "N/A" %></td>
            </tr>
             <tr>
              <td><strong><%= t(:description, :scope => [:projects]) %></strong></td>
              <td><%= @project.description.html_safe || "N/A" %></td>
            </tr>
           
          </tbody>
        </table>

      </div> <%#= .span12 %>
    </div> <%#= .row %>
  </div> <%#= .container %>
</div> <%#= content %>
