<div id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t(:project_members, :scope => [:projects]) %></h2>
        <% if current_user.has_admin_access(@project) %>
          <br />
          <hr />
          <%= form_tag(create_member_project_path(@project),  :class => "form-horizontal") do %>
            <div class="form-group">
              
              <div class="controls">
                <div class="col-md-4">
                  <%= autocomplete_field :user, :username, autocomplete_user_username_projects_path,:class => "form-control", :required => true, :placeholder => t(:username, :scope => [:account]) %>
                </div>
                <div class="col-md-4">
                  <%= select_tag :role, options_from_collection_for_select(@project_roles, "id", "role"),:class => "form-control", :prompt => t(:select_role, :scope => [:roles]) %>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary"><%= t(:create, :scope => [:common]) %></button>
                </div>
              </div> <%#= controls %>
            </div> <%#= form-group %>
          <% end %>
        <% end %>
        <hr />
        <ul class="gallery-container">
          <% @project_users.each do |project_user|
            next if project_user.id.blank?
            user = project_user.user
            project_role = project_user.project_role
            roles = @project.roles_for_in_place

          %>

            <li>
              <div>
                <% if current_user.has_admin_access(@project) %>
                  <a class="gallery-close msgbox-confirm" href="#" confirm-message="<%= t(:confirm_member_deletion, :scope => [:projects]) %>" data-url="<%= delete_member_project_path(@project, :project_user_id => project_user.id) %>" title="<%= t(:remove_member, :scope => [:projects]) %>"><%= image_tag("close.png") %></a>
                <% end %>
                <a class="ui-lightbox" href="<%=  user.avatar.url %>">
                  <%= image_tag user.avatar.url(:medium) %>
                </a>
              </div>
              <br />
              <strong><%= show_user(user) %></strong> <br />
              <% if current_user.has_admin_access(@project) %>
                <a data-name="role" data-value="<%= project_user.project_role_id %>" data-source="<%= roles.to_json %>" data-pk="<%= project_user.id %>" data-type="select" href="#" class="editable editable-click" data-url="<%= update_member_project_path(@project) %>" data-mode="popup"><%= project_role.role rescue nil %></a>
              <% else %>
                <%= project_role.role rescue nil %>
              <% end %>
            </li>
          <% end %>
        </ul>

      </div> <%#= .span12 %>
    </div> <%#= .row %>
  </div> <%#= .container %>
</div> <%#= content %>
