
<div class="account-container login ">

  <div class="content clearfix">

    <h1><%= t(:sign_in, :scope => [:authentication, :login]) %></h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:autofill => "off"}) do |f| %>
      <div class="login-fields">

        <p><%= t(:sign_in_description, :scope => [:authentication, :login]) %>:</p>

        <% if flash[:alert] %>
          <div class="alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <%= flash[:alert] %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, :class => "login username-field", :placeholder => "Username", :required => "true" %>

        </div> <!-- /field -->

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", :class => "login password-field", :placeholder => "Password", :required => "true" %>
        </div> <!-- /password -->

      </div> <!-- /login-fields -->

      <div class="login-actions">
        <% if devise_mapping.rememberable? -%>
          <span class="login-checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, t(:keep_logged_in, :scope => [:authentication, :login]) %>
          </span>
        <% end -%>
        <button class="button btn btn-primary btn-large"><%= t(:sign_in, :scope => [:authentication, :login]) %></button>
      </div> <!-- .actions -->

    <% end %>

  </div> <!-- /content -->

</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
	<%= t(:no_account, :scope => [:authentication, :login]) %> <%= link_to t(:sign_up, :scope => [:authentication, :signup]), new_user_registration_path %><br/>
        <%= link_to t(:forgot_password, :scope => [:authentication, :login]), new_password_path(resource_name) %>
</div> <!-- /login-extra -->


