<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2><%= t(:project_roles, :scope => [:roles]) %></h2>
        <br />
        <hr />
        <%= form_for(@project_role, :url => project_roles_path(@project), :html => { :method => :post, :class => "form-horizontal"}) do |f| %>
          <div class="control-group">
            <%= f.label :role, t(:role, :scope => [:roles]), :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :role, :class => "input-large", :required => true %>
              <button type="submit" class="btn btn-primary"><%= t(:create, :scope => [:common]) %></button>
            </div> <%#= controls %>
          </div> <%#= control-group %>

        <% end %>

        <hr />

        <section id="tables">

          <% unless @project_roles.blank? %>
            <table class="table table-bordered table-striped table-highlight">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= t(:role, :scope => [:roles]) %></th>
                  <th><%= t(:action, :scope => [:common]) %></th>
                </tr>
              </thead>
              <tbody>
                <% @project_roles.each_with_index do |project_role, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><a data-name="role" data-pk="<%= project_role.id %>" data-type="text" href="#" class="editable editable-click" data-url="<%= project_role_path(@project, project_role) %>"><%= project_role.role %></a></td>
                    <td>
                      <a class="msgbox-confirm" confirm-message="<%= t(:confirm_role_deletion, :scope => [:roles]) %>" href="#" data-url="<%= delete_project_role_path(@project, project_role) %>"><%= text_with_icon(t(:delete, :scope => [:common]), "icon-remove") %></a>
    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <%= t(:empty_roles, :scope => [:roles]) %>
          <% end %>

        </section>


      </div> <%#= .span12 %>
    </div> <%#= .row %>
  </div> <%#= .container %>
</div> <%#= content %>
