<!DOCTYPE html>
<!-- [if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!-- [if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!-- [if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- [if gt IE 8]><!--> <html class="no-js" lang="en"> <!-- <![endif]-->

  <head>
    <title>Hoppers Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "modernizr-2.5.3.min" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="wrapper">

      <%= render "shared/topbar" %>

      <div id="header">
        <div class="container">
          <%= link_to "Hoppers Tracker", root_path, :class => "brand" %>
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn-navbar" href="javascript:;">
            <i class="<%= ICON_REORDER %>"></i>
          </a>
          <div class="nav-collapse pull-right">
            <ul id="main-nav" class="nav navbar-nav">
              <li class="nav-icon <%= @tab == :home ? "active" : "" %>">
                <%= link_to nav_links_with_icon("Home", ICON_HOME), root_path %>
              </li>

              <li class="dropdown <%= @tab == :projects ? "active" : "" %>">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="<%= ICON_TH %>"></i>
                  <span><%= t(:projects, :scope => [:navigation]) %></span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% unless @user_projects.blank? %>
                    <% @user_projects.each do |project|
                    next if project.id.blank?
                    %>
                      <li><%= show_project_link_with_icon(project) %></li>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to nav_links_with_icon(t(:view_all, :scope => [:common]), ICON_LIST), projects_path %></li>
                    <li class="divider"></li>
                  <% end %>
                  <li><%= link_to nav_links_with_icon(t(:create_project, :scope => [:navigation]), ICON_PLUS), new_project_path %></li>
                </ul>
              </li>
            </ul>

          </div> <%#= /.nav-collapse %>

        </div> <%#= /.container %>

      </div> <%#= /#header %>
      <div id="masthead"></div> <%#= /#masthead %>

      <%= yield %>

    </div> <%#= /#wrapper %>

    <%= render "shared/footer" %>

    <%= javascript_include_tag "application" %>
    <%= render "shared/javascripts" %>

  </body>
</html>