<!DOCTYPE html>
<!-- [if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!-- [if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!-- [if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- [if gt IE 8]><!--> <html class="no-js" lang="en"> <!-- <![endif]-->

  <head>
    <title>Hoppers Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "modernizr-2.5.3.min" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="wrapper">

      <%= render "shared/topbar" %>

      <div id="header">
        <div class="container">
          <%= link_to "Hoppers Tracker", root_path, :class => "brand" %>
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn-navbar" href="javascript:;">
            <i class="<%= ICON_REORDER %>"></i>
          </a>
          <div class="nav-collapse">
            <ul id="main-nav" class="nav pull-right">
              <li class="nav-icon">
                <%= link_to nav_links_with_icon("Home", ICON_HOME), root_path %>
              </li>
              <li class="<%= @tab == :show ? "active" : "" %>">
                <%= link_to nav_links_with_icon(t(:dashboard, :scope => [:navigation]), ICON_DASHBOARD), project_path(@project) %>
              </li>
              <% if current_user.has_admin_access(@project) %>
                <li class="<%= @tab == :roles ? "active" : "" %>">
                  <%= link_to nav_links_with_icon(t(:roles, :scope => [:navigation]), ICON_CERTIFICATE), project_roles_path(@project) %>
                </li>
              <% end %>
              <li class="<%= @tab == :team ? "active" : "" %>">
                <%= link_to nav_links_with_icon(t(:team, :scope => [:navigation]), ICON_GROUP), team_project_path(@project) %>
              </li>
              <li class="<%= @tab == :milestones ? "active" : "" %>">
                <%= link_to nav_links_with_icon(t(:milestones, :scope => [:milestones]), ICON_ROAD), project_milestones_path(@project) %>
              </li>
              <li class="<%= @tab == :issues ? "active" : "" %>">
                <%= link_to nav_links_with_icon(t(:issues, :scope => [:navigation]), ICON_TASKS), project_issues_path(@project) %>
              </li>
              <li class="<%= @tab == :wiki ? "active" : "" %>">
                <%= link_to nav_links_with_icon(t(:wiki, :scope => [:navigation]), ICON_BOOK), project_project_wikis_path(@project) %>
              </li>
            </ul>

          </div> <%#= /.nav-collapse %>

        </div> <%#= /.container %>

      </div> <%#= /#header %>
      <div id="masthead"></div> <%#= /#masthead %>

      <%= yield %>

    </div> <%#= /#wrapper %>
    <%= render "shared/footer" %>

    <%= javascript_include_tag "application" %>
    <%= render "shared/javascripts" %>

  </body>
</html>