<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>Hoppers Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "modernizr-2.5.3.min" %>
    <%= csrf_meta_tags %>
  </head>
  <body>



    <div id="wrapper">

      <div id="topbar">

        <div class="container">

          <div id="top-nav">

          </div> <%#= .top-nav %>
        </div> <%#= .container %>
      </div> <%#= #topbar %>

      <div id="header">
        <div class="container">
          <%= link_to "Hoppers Tracker", root_path, :class => "brand" %>
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn-navbar" href="javascript:;">
            <i class="icon-reorder"></i>
          </a>


        </div> <%#= .container %>

      </div> <%#= #header %>
      <div id="masthead"></div> 
      <div id="content">

        <div class="container">

          <div class="row">

            <div class="span5">
              <h3>Welcome to app.</h3>

              <p>You are currently signed up to the Free Trial Plan. <br /><a href="javascript:;">Upgrade your plan today</a>.</p>

              <table class="table stat-table">
                <tbody>
                  <tr>
                    <td class="value">789</td>
                    <td class="full">Visits Today</td>
                  </tr>
                  <tr>
                    <td class="value">634</td>
                    <td class="full">Unique Visits</td>
                  </tr>
                  <tr>
                    <td class="value">13</td>
                    <td class="full">Pending Comments</td>
                  </tr>
                  <tr>
                    <td class="value">17</td>
                    <td class="full">Support Requests</td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /.span4 -->

            <div class="span7">

              <%= yield %>
            </div> <!-- /.span8 -->

          </div> <!-- /.row -->

        </div> <!-- /.container -->
      </div> <!-- /#content -->


    </div> <!-- /#wrapper -->

    <%= render "shared/footer" %>

    <%= javascript_include_tag "application" %>
    <%= render "shared/javascripts" %>
  </body>
</html>
